@using Garage2._5.Helper
@model Garage2._5.Models.Member

@{
    ViewBag.Title = "Owner Details";
}

<h2>Owner Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Parked Vehicles
        </dt>
        <dd>
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ParkedVehicles.First().Registration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParkedVehicles.First().Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParkedVehicles.First().ParkedTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParkedVehicles.First().ParkingSpot)
                    </th>
                </tr>

                @foreach (var vehicle in Model.ParkedVehicles.OrderBy(v => v.Registration))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(RegistrationNormalizer.NormalizeForDisplay(vehicle.Registration), "Details", "Vehicles", new { Id = vehicle.Id}, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vehicle.Type.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vehicle.ParkedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vehicle.ParkingSpot)
                        </td>
                    </tr>
                }

            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Vehicle List", "Index", "Vehicles")
</p>
