@using PagedList.Mvc
@model PagedList.IPagedList<Garage2._5.Models.Member>

@{
    ViewBag.Title = "Registered Members";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Register New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Members", FormMethod.Get))
    {
        <span>
            Find: @Html.TextBox("SearchString", ViewBag.CurrentMemberFilter as string)
            <input type="submit" value="Search" />
        </span>
    }
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Username).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "username" ? "username_dec" : "username", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Name).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "name" || ViewBag.CurrentSort == null ? "name_dec" : "name", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Phone).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "phone" ? "phone_dec" : "phone", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@if (Model.PageCount > 1)
{
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, orderBy = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedvehicletype = ViewBag.selectedvehicletype, selectedvehiclecolor = ViewBag.selectedvehiclecolor }))
    </p>
}