@using Garage2._5.Helper
@using PagedList.Mvc
@model PagedList.IPagedList<Garage2._5.Models.Vehicle>

@{
    ViewBag.Title = "Parked Vehicles";
}

<h2>@ViewBag.Title</h2>
<p>
    @ViewBag.Vacant
</p>
@if (ViewBag.HasVacantSpots) {
    <p>
        @Html.ActionLink("Checkin new vehicle", "Checkin")
    </p>
}

<p>
    @using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
    {
        <span>
            Find by registration number: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            @Html.DropDownList("selectedvehicletype", (SelectList)ViewBag.VehicleTypes, "All vehicle types", htmlAttributes: new { @class = "selectStyle" })
            <input type="submit" value="Search" />
        </span>
    }
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Owner).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "user" ? "user_dec" : "user", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Type).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "type" ? "type_dec" : "type", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Registration).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "registration" ? "registration_dec" : "registration", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().ParkedTime).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "time" ? "time_dec" : "time", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().ParkingSpot).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "spot" ? "spot_dec" : "spot", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Brand).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "brand" ? "brand_dec" : "brand", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Model).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "model" ? "model_dec" : "model", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().NumberOfWheels).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "wheels" ? "wheels_dec" : "wheels", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().Color).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "color" ? "color_dec" : "color", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.First().CheckinTime).ToString(), "DetailedList", new { orderBy = ViewBag.CurrentSort == "time" ? "time_dec" : "time", currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Owner.Name, "Details", "Members", new { Id = item.Owner.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Type)
            </td>
            <td>
                @RegistrationNormalizer.NormalizeForDisplay(item.Registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckinTime)
            </td>
        </tr>
    }

</table>
@if (Model.PageCount > 1)
{
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("DetailedList", new { page, orderBy = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedvehicletype = ViewBag.selectedvehicletype, selectedvehiclecolor = ViewBag.selectedvehiclecolor }))
    </p>
}