@using Garage2._5.Helper
@model IEnumerable<Garage2._5.Models.Vehicle>

@{
    ViewBag.Title = "Parked Vehicles";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Checkin vehicle", "Checkin")
</p>
<p>
    @using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
    {
        <span>
            Find by registration number: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            @Html.DropDownList("selectedvehicletype", (SelectList)ViewBag.VehicleTypes, "All vehicle types", htmlAttributes: new { @class = "selectStyle" })
            <input type="submit" value="Search" />
        </span>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Owner).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "user" ? "user_dec" : "user", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Type).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "type" ? "type_dec" : "type", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Registration).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "registration" ? "registration_dec" : "registration", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.ParkedTime).ToString(), "Index", new { orderBy = ViewBag.CurrentSort == "checkintime" ? "checkintime_dec" : "checkintime", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Type)
        </td>
        <td>
            @RegistrationNormalizer.NormalizeForDisplay(item.Registration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkedTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Checkout", "Checkout", new { id=item.Id })
        </td>
    </tr>
}

</table>
